.header {
    background: url('../../img/header-bg.jpg') center no-repeat;
    background-size: cover;
    min-height: 900px;

    grid-area: 1 / 1 / 1 / 5;
}

.header__top {
    padding-top: 90px;
}

.header__content {
    padding-top: 200px;
    max-width: 535px;
}

.header__title {
    font-size: 72px;
    letter-spacing: -1.8px;
    line-height: 80px;

    padding-bottom: 15px;
}

.header__text {
    font-size: 30px;
    line-height: 45px;
    letter-spacing: -0.75px;
}

.header__text span {
    font-weight: 700;
}